<section id="benefits" class="benefits">
  <div class="container benefist-wrraper">
    <div class="benefits-section">
      <h2 class="benefits-title">
        Reconnect with yourself through the art of outdoor drawing
      </h2>
      <div class="benefist-list-wraper">
        <ul class="benefits-list">
          <li class="benefits-wrraper-list">
            <svg class="benefits-icon" width="48" height="48">
              <use href="/img/icons/icons.svg#icon-spa"></use>
            </svg>
            <div class="benefits-wrraper-text">
              <h3 class="benefits-heading">Relieves stress and anxiety</h3>
              <p class="benefits-text">
                Drawing in nature helps you unwind, clear your mind, and escape
                daily worries in a peaceful setting.
              </p>
            </div>
          </li>
          <li class="benefits-wrraper-list">
            <svg class="benefits-icon" width="48" height="48">
              <use href="/img/icons/icons.svg#icon-sun"></use>
            </svg>
            <div class="benefits-wrraper-text">
              <h3 class="benefits-heading">Sparks creativity</h3>
              <p class="benefits-text">
                Whether you’re a beginner or experienced, plein air drawing
                encourages creative thinking and helps you see beauty in the
                details.
              </p>
            </div>
          </li>
          <li class="benefits-wrraper-list">
            <svg class="benefits-icon" width="48" height="48">
              <use href="/img/icons/icons.svg#icon-leaf"></use>
            </svg>
            <div class="benefits-wrraper-text">
              <h3 class="benefits-heading">Quality time in nature</h3>
              <p class="benefits-text">
                Plein air sessions combine fresh air, gentle movement, and
                mindful observation — a perfect blend of rest and inspiration.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="benefist-images">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/benefist/benefist-d.webp    1x,
            /img/benefist/benefist-d@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/benefist/benefist-t.webp    1x,
            /img/benefist/benefist-t@2x.webp 2x
          "
        />
        <img
          loading="lazy"
          srcset="
            /img/benefist/benefist-m.webp    1x,
            /img/benefist/benefist-m@2x.webp 2x
          "
          src="/img/benefist/benefist-m.webp"
          alt="Benefits"
        />
      </picture>
    </div>
  </div>
</section>
