<section id="events" class="section">
  <div class="container">
    <h2 class="events-title">Explore Our Upcoming Workshop Schedule</h2>
    <p class="events-description">
      Join us for immersive plein air drawing workshops. Experience nature while
      honing your artistic skills.
    </p>

    <ul class="events-list">
      <!-- todo?: convert all img to the same file type -->
      <li class="events-card">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/events/tablet/events-tablet-one.webp   1x,
              /img/events/tablet/events-tablet-one@2x.jpg 2x
            "
            width="144"
            height="144"
          />
          <img
            loading="lazy"
            class="events-card-image"
            srcset="
              /img/events/mobile/events-mobile-one.webp    1x,
              /img/events/mobile/events-mobile-one@2x.webp 2x
            "
            src="/img/events/mobile/events-mobile-one@2x.webp"
            alt="A girl in the park is painting on a canvas on an easel, holding a palette."
            width="311"
            height="225"
          />
        </picture>
        <div class="events-card-details">
          <div class="events-card-metadata">
            <div class="events-card-location">
              <div class="events-card-icon-wrapper">
                <svg width="16" height="20" class="events-card-icon">
                  <use href="/img/icons/icons.svg#icon-map"></use>
                </svg>
              </div>
              <a
                class="events-card-location-link"
                href="https://maps.app.goo.gl/bUxadCeWg8MBp8ua8"
                target="_blank"
                >Central Park Meadow</a
              >
            </div>
            <p class="events-card-time">09 Jun 8:00 am</p>
          </div>
          <h3 class="events-card-title">Morning Light Sketching</h3>
        </div>
        <a class="events-card-button" href="#register">Register</a>
      </li>
      <li class="events-card">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/events/tablet/events-tablet-two.webp    1x,
              /img/events/tablet/events-tablet-two@2x.webp 2x
            "
            width="144"
            height="144"
          />
          <img
            loading="lazy"
            class="events-card-image"
            srcset="
              /img/events/mobile/events-mobile-two.webp    1x,
              /img/events/mobile/events-mobile-two@2x.webp 2x
            "
            src="/img/events/mobile/events-mobile-two@2x.webp"
            alt="A small girl in the park is painting on a canvas on an easel, holding a palette."
            width="311"
            height="225"
          />
        </picture>
        <div class="events-card-details">
          <div class="events-card-metadata">
            <div class="events-card-location">
              <div class="events-card-icon-wrapper">
                <svg width="16" height="20" class="events-card-icon">
                  <use href="/img/icons/icons.svg#icon-map"></use>
                </svg>
              </div>
              <a
                class="events-card-location-link"
                href="https://maps.app.goo.gl/MQUhwCAinNShpvk37"
                target="_blank"
                >Riverside Botanical Trail</a
              >
            </div>
            <p class="events-card-time">10 Jun 5:00 pm</p>
          </div>
          <h3 class="events-card-title">Floral Focus: Painting Wildflowers</h3>
        </div>
        <a class="events-card-button" href="#register">Register</a>
      </li>
      <li class="events-card">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/events/tablet/events-tablet-three.webp    1x,
              /img/events/tablet/events-tablet-three@2x.webp 2x
            "
            width="144"
            height="144"
          />
          <img
            loading="lazy"
            class="events-card-image"
            srcset="
              /img/events/mobile/events-mobile-three.webp    1x,
              /img/events/mobile/events-mobile-three@2x.webp 2x
            "
            src="/img/events/mobile/events-mobile-three@2x.webp"
            alt="A girl in the park is painting a colorful Mountain and Lake Composition on a canvas on an easel, holding a palette."
            width="311"
            height="225"
          />
        </picture>
        <div class="events-card-details">
          <div class="events-card-metadata">
            <div class="events-card-location">
              <div class="events-card-icon-wrapper">
                <svg width="16" height="20" class="events-card-icon">
                  <use href="/img/icons/icons.svg#icon-map"></use>
                </svg>
              </div>
              <a
                class="events-card-location-link"
                href="https://maps.app.goo.gl/kQXYjG6AEQmWdNYU7"
                target="_blank"
                >Forest Edge Retreat</a
              >
            </div>
            <p class="events-card-time">11 Jun 7:00 pm</p>
          </div>
          <h3 class="events-card-title">Color & Composition Basics</h3>
        </div>
        <a class="events-card-button" href="#register">Register</a>
      </li>
      <li class="events-card">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/events/tablet/events-tablet-four.webp   1x,
              /img/events/tablet/events-tablet-four@2x.jpg 2x
            "
            width="144"
            height="144"
          />
          <img
            loading="lazy"
            class="events-card-image"
            srcset="
              /img/events/mobile/events-mobile-four.webp    1x,
              /img/events/mobile/events-mobile-four@2x.webp 2x
            "
            src="/img/events/mobile/events-mobile-four@2x.webp"
            alt="Mum and daughter are painting something abstract on a canvas on an easel, holding flowers."
            width="311"
            height="225"
          />
        </picture>
        <div class="events-card-details">
          <div class="events-card-metadata">
            <div class="events-card-location">
              <div class="events-card-icon-wrapper">
                <svg width="16" height="20" class="events-card-icon">
                  <use href="/img/icons/icons.svg#icon-map"></use>
                </svg>
              </div>
              <a
                class="events-card-location-link"
                href="https://maps.app.goo.gl/FWChFGSV1Qxg5Q6M9"
                target="_blank"
                >Willow Grove Field</a
              >
            </div>
            <p class="events-card-time">14 Jun 8:00 pm</p>
          </div>
          <h3 class="events-card-title">
            Drawing Stillness: Meditative Sketching
          </h3>
        </div>
        <a class="events-card-button" href="#register">Register</a>
      </li>
      <li class="events-card">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/events/tablet/events-tablet-five.webp   1x,
              /img/events/tablet/events-tablet-five@2x.jpg 2x
            "
            width="144"
            height="144"
          />
          <img
            loading="lazy"
            class="events-card-image"
            srcset="
              /img/events/mobile/events-mobile-five.webp    1x,
              /img/events/mobile/events-mobile-five@2x.webp 2x
            "
            src="/img/events/mobile-event/mobile-event-five@2x.jpg"
            alt="A girl in a field is painting on a canvas on an easel during the golden hour."
            width="311"
            height="225"
          />
        </picture>
        <div class="events-card-details">
          <div class="events-card-metadata">
            <div class="events-card-location">
              <div class="events-card-icon-wrapper">
                <svg width="16" height="20" class="events-card-icon">
                  <use href="/img/icons/icons.svg#icon-map"></use>
                </svg>
              </div>
              <a
                class="events-card-location-link"
                href="https://maps.app.goo.gl/waPZhVqmH2gAy9qG9"
                target="_blank"
                >Sunset Ridge Hilltop</a
              >
            </div>
            <p class="events-card-time">15 Jun 8:00 pm</p>
          </div>
          <h3 class="events-card-title">Golden Hour Landscape Study</h3>
        </div>
        <a class="events-card-button" href="#register">Register</a>
      </li>
    </ul>
  </div>
</section>
