<section id="feedbacks" class="feedbacks">
  <div class="feedback-wrapper">
    <h2 class="feedback-header">Customer testimonials</h2>
    <ul class="feedback-list">
      <li class="feedback-list-item">
        <div class="feedback-item-wrapper">
          <div class="feedback-stars">
            <svg class="feedback-stars-icon" width="24" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="24" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="24" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="24" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="24" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </div>

          <p class="feedback-text">
            “An unforgettable way to reconnect with nature and creativity. I
            came home with a full sketchbook and a peaceful mind.”
          </p>
          <h3 class="feedbacker-name">Julia Nguyen</h3>
        </div>
      </li>
      <li class="feedback-list-item">
        <div class="feedback-item-wrapper">
          <div class="feedback-stars">
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg
              class="feedback-stars-white"
              width="20"
              height="19"
              fill="none"
            >
              <use href="/img/icons/icons.svg#icon-star-outline"></use>
            </svg>
          </div>

          <p class="feedback-text">
            “WildSketch helped me rediscover my love for drawing. The
            instructors were kind, encouraging, and deeply inspiring.”
          </p>
          <h3 class="feedbacker-name">Mark Leblanc</h3>
        </div>
      </li>

      <li class="feedback-list-item">
        <div class="feedback-item-wrapper">
          <div class="feedback-stars">
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </div>

          <p class="feedback-text">
            “Beautiful locations, great energy, and a supportive community. I’m
            not a professional artist, but I felt totally welcomed.”
          </p>
          <h3 class="feedbacker-name">Sofia Mendes</h3>
        </div>
      </li>

      <li class="feedback-list-item">
        <div class="feedback-item-wrapper">
          <div class="feedback-stars">
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg
              class="feedback-stars-white"
              width="20"
              height="19"
              fill="none"
            >
              <use href="/img/icons/icons.svg#icon-star-outline"></use>
            </svg>
          </div>
          <p class="feedback-text">
            “Sketching outdoors in the golden hour was magical. Highly recommend
            for anyone looking to slow down and create.”
          </p>
          <h3 class="feedbacker-name">Daniel Ortiz</h3>
        </div>
      </li>

      <li class="feedback-list-item">
        <div class="feedback-item-wrapper">
          <div class="feedback-stars">
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </div>
          <p class="feedback-text">
            “The team made everything feel effortless and joyful. I learned so
            much and met wonderful people along the way.”
          </p>
          <h3 class="feedbacker-name">Anika Shah</h3>
        </div>
      </li>

      <li class="feedback-list-item">
        <div class="feedback-item-wrapper">
          <div class="feedback-stars">
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg class="feedback-stars-icon" width="20" height="19">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
            <svg
              class="feedback-stars-white"
              width="20"
              height="19"
              fill="none"
            >
              <use href="/img/icons/icons.svg#icon-star-outline"></use>
            </svg>
          </div>
          <p class="feedback-text">
            “Such a wholesome and uplifting experience. WildSketch is now my
            go-to escape when I need a creative reset.”
          </p>
          <h3 class="feedbacker-name">Thomas Becker</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
