<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <a class="footer-logo-reference" href="/index.html">
        <svg class="footer-logo" width="160" height="111">
          <use href="/img/icons/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="footer-links-wrapper">
        <ul class="footer-links-list">
          <li class="footer-links-list-item">
            <a class="footer-links-list-reference" href="#benefits">Benefits</a>
          </li>
          <li class="footer-links-list-item">
            <a class="footer-links-list-reference" href="#gallery">Gallery</a>
          </li>
          <li class="footer-links-list-item">
            <a class="footer-links-list-reference" href="#events">Events</a>
          </li>
          <li class="footer-links-list-item">
            <a class="footer-links-list-reference" href="#team">Team</a>
          </li>
          <li class="footer-links-list-item">
            <a class="footer-links-list-reference" href="#feedbacks"
              >Feedbacks</a
            >
          </li>
        </ul>
      </div>
      <p class="footer-privacy">© 2025 WildDraw. All rights reserved.</p>
    </div>
  </div>
</footer>
