<section id="gallery" class="gallery">
  <h2 class="gallery-header">Artistic Showcase</h2>
  <p class="gallery-text">Explore the creativity captured in our workshops.</p>
  <div class="gallery-wrapper">
    <div class="top-gallery-wrapper">
      <picture class="top-wrapper-item">
        <!-- desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/gallery/desk/gallery-desk-one.webp    1x,
            /img/gallery/desk/gallery-desk-one@2x.webp 2x
          "
          width="416"
          height="416"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/tablet/gallery-tablet-one.webp    1x,
            /img/gallery/tablet/gallery-tablet-one@2x.webp 2x
          "
          width="218"
          height="203"
        />

        <!-- mobile (дефолтний варіант) -->
        <img
          loading="lazy"
          class="gallery-picture"
          src="/img/gallery/mobile/gallery-mobile-one.webp"
          srcset="/img/gallery/mobile/gallery-mobile-one@2x.webp 2x"
          alt="mountains1"
          width="159"
          height="157"
        />
      </picture>

      <picture class="top-wrapper-item">
        <!-- desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/gallery/desk/gallery-desk-two.webp    1x,
            /img/gallery/desk/gallery-desk-two@2x.webp 2x
          "
          width="416"
          height="416"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/tablet/gallery-tablet-two.webp    1x,
            /img/gallery/tablet/gallery-tablet-two@2x.webp 2x
          "
          width="218"
          height="203"
        />

        <!-- mobile (дефолтний варіант) -->
        <img
          loading="lazy"
          class="gallery-picture"
          src="/img/gallery/mobile/gallery-mobile-two.webp"
          srcset="/img/gallery/mobile/gallery-mobile-two@2x.webp 2x"
          alt="mountains2"
          width="159"
          height="157"
        />
      </picture>

      <picture class="top-wrapper-item">
        <!-- desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/gallery/desk/gallery-desk-three.webp    1x,
            /img/gallery/desk/gallery-desk-three@2x.webp 2x
          "
          width="416"
          height="416"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/tablet/gallery-tablet-three.webp    1x,
            /img/gallery/tablet/gallery-tablet-three@2x.webp 2x
          "
          width="218"
          height="203"
        />

        <!-- mobile (дефолтний варіант) -->
        <img
          loading="lazy"
          class="gallery-picture"
          src="/img/gallery/mobile/gallery-mobile-three.webp"
          srcset="/img/gallery/mobile/gallery-mobile-three@2x.webp 2x"
          alt="forest"
          width="335"
          height="238"
        />
      </picture>
    </div>
    <div class="bottom-gallery-wrapper">
      <picture class="bottom-wrapper-item">
        <!-- desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/gallery/desk/gallery-desk-four.webp    1x,
            /img/gallery/desk/gallery-desk-four@2x.webp 2x
          "
          width="304"
          height="346"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/tablet/gallery-tablet-four.webp    1x,
            /img/gallery/tablet/gallery-tablet-four@2x.webp 2x
          "
          width="158"
          height="171"
        />

        <!-- mobile (дефолтний варіант) -->
        <img
          loading="lazy"
          class="gallery-picture"
          src="/img/gallery/mobile/gallery-mobile-four.webp"
          srcset="/img/gallery/mobile/gallery-mobile-four@2x.webp 2x"
          alt="forest"
          width="159"
          height="136"
        />
      </picture>

      <picture class="bottom-wrapper-item">
        <!-- desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/gallery/desk/gallery-desk-five.webp    1x,
            /img/gallery/desk/gallery-desk-five@2x.webp 2x
          "
          width="304"
          height="346"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/tablet/gallery-tablet-five.webp    1x,
            /img/gallery/tablet/gallery-tablet-five@2x.webp 2x
          "
          width="158"
          height="171"
        />

        <!-- mobile (дефолтний варіант) -->
        <img
          loading="lazy"
          class="gallery-picture"
          src="/img/gallery/mobile/gallery-mobile-five.webp"
          srcset="/img/gallery/mobile/gallery-mobile-five@2x.webp 2x"
          alt="mountains1"
          width="159"
          height="136"
        />
      </picture>

      <picture class="bottom-wrapper-item">
        <!-- desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/gallery/desk/gallery-desk-six.webp    1x,
            /img/gallery/desk/gallery-desk-six@2x.webp 2x
          "
          width="304"
          height="346"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/tablet/gallery-tablet-six.webp    1x,
            /img/gallery/tablet/gallery-tablet-six@2x.webp 2x
          "
          width="158"
          height="171"
        />

        <!-- mobile (дефолтний варіант) -->
        <img
          loading="lazy"
          class="gallery-picture"
          src="/img/gallery/mobile/gallery-mobile-six.webp"
          srcset="/img/gallery/mobile/gallery-mobile-six@2x.webp 2x"
          alt="mountains2"
          width="159"
          height="136"
        />
      </picture>

      <picture class="bottom-wrapper-item">
        <!-- desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/gallery/desk/gallery-desk-seven.webp    1x,
            /img/gallery/desk/gallery-desk-seven@2x.webp 2x
          "
          width="304"
          height="346"
        />

        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/tablet/gallery-tablet-seven.webp    1x,
            /img/gallery/tablet/gallery-tablet-seven@2x.webp 2x
          "
          width="158"
          height="171"
        />

        <!-- mobile  -->
        <img
          loading="lazy"
          class="gallery-picture"
          src="/img/gallery/mobile/gallery-mobile-seven.webp"
          srcset="/img/gallery/mobile/gallery-mobile-seven@2x.webp 2x"
          alt="forest"
          width="159"
          height="136"
        />
      </picture>
    </div>
  </div>
</section>
