<section id="hero" class="section-hero section">
  <div class="container hero-container">
    <div class="hero-wrraper-text">
      <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
      <p class="hero-text">
        Join us for an inspiring plein air drawing workshop where art meets
        nature. Experience the joy of sketching outdoors while enhancing your
        skills in light and composition.
      </p>
      <div class="hero-link-wraper">
        <a href="#register" class="hero-link-register">Register</a>
        <a href="#events" class="hero-link-more">Learn More</a>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="/img/hero/hero-desk.webp 1x, /img/hero/hero-desk@2x.webp 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="/img/hero/hero-tablet.webp 1x, /img/hero/hero-tablet@2x.webp 2x"
      />
      <img
        loading="lazy"
        srcset="/img/hero/hero-mobile.webp 1x, /img/hero/hero-mobile@2x.webp 2x"
        src="/img/hero/benefits-mobile.webp"
        alt="Illustration of houses and decorative plants"
      />
    </picture>
  </div>
</section>
