.events-title {
  font-family: 'Caveat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;

  margin-bottom: 8px;
}

.events-description {
  font-size: 18px;

  margin-bottom: 32px;
}

.events-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.events-card {
  border: 1px solid #dbdada;
  border-radius: 28px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    gap: 32px;
    flex-direction: row;
    align-items: center;

    border-radius: 0px;
    border-right: none;
    border-left: none;
    padding: 8px 0px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

.events-card-image {
  border-radius: 16px;
}

.events-card-details {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 24px;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }
}

.events-card-metadata {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: end;
    gap: 4px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 32px;
  }
}

.events-card-location {
  display: flex;
  gap: 8px;
}

.events-card-icon-wrapper {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.events-card-icon {
  fill: #0c0708;
}

.events-card-location-link {
  font-size: 14px;

  @media screen and (min-width: 1440px) {
    text-align: right;
  }
  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.7;
  }
}

.events-card-time {
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.events-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    max-width: 204px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 693px;
  }
}

/* to better match the Design */
.events-card:nth-child(4) .events-card-title {
  @media screen and (min-width: 768px) {
    max-width: 218px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 693px;
  }
}

.events-card-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 7px 19px;
  border: 1px solid rgba(12, 7, 8, 0.15);
  border-radius: 100px;

  font-weight: 500;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.7;
  }
}
