.feedbacks {
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 64px 20px;
  display: block;
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .feedbacks {
    padding: 64px 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 375px) and (min-width: 768px) and (min-width: 1440px) {
  .feedbacks {
    padding: 64px 64px;
    max-width: 1440px;
  }
}
.feedback-text {
  margin-bottom: 24px;
}
.feedbacker-name {
  font-weight: 700;
  font-size: 16px;
}

.feedback-header {
  font-family: 'Caveat', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
  .feedback-header {
    margin-bottom: 80px;
  }
}

.feedback-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .feedback-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1440px) {
  .feedback-list {
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .feedback-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .feedback-list-item {
    width: calc((100% - 64px) / 3);
  }
}

li {
  list-style-type: none;
}

.feedback-item-wrapper {
  border: 1px solid rgba(12, 7, 8, 0.15);
  background-color: #fff7f2;
  border-radius: 16px;
  padding: 32px;
  width: 100%;
}

.feedback-stars-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 2px;
}
.feedback-stars {
  margin-bottom: 24px;
}
