.gallery {
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 64px 20px;
  display: block;
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 64px 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    padding: 64px 64px;
    max-width: 1440px;
  }
}

.gallery-header {
  font-family: 'Caveat', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 24px;
}

.gallery-text {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .gallery-text {
    margin-bottom: 80px;
  }
}
.top-gallery-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    gap: 32px;
  }
}

.top-wrapper-item {
  width: calc((100% - 16px) / 2);
  flex-shrink: 0;

  &:last-child {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - (24px * 2)) / 3);

    &:last-child {
      width: calc((100% - (24px * 2)) / 3);
    }
  }

  @media screen and (min-width: 1440px) {
    width: calc((100% - (32px * 2)) / 3);

    &:last-child {
      width: calc((100% - (32px * 2)) / 3);
    }
  }
}

.gallery-picture {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.bottom-gallery-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 24px;
  }

  @media screen and (min-width: 1440px) {
    gap: 36px;
  }
}

.bottom-wrapper-item {
  width: calc((100% - 16px) / 2);
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    width: calc((100% - (24px * 3)) / 4);
  }

  @media screen and (min-width: 1440px) {
    width: calc((100% - (36px * 3)) / 4);
  }
}
